.carousel-item{
    width: 100%;
}
.cards:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.custom-projects-card{
    position: relative;
    border-radius: 10px;
    min-height: 211px!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.custom-projects-card-mobile{
    position: relative;
    width: 490px!important;
    height: 175px!important;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.custom-events-card{
    position: relative;
    width: 321px;
    height: 517px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.custom-resources-card{
    position: relative;
    width: 480px;
    height: 374px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.custom-theteam-card{
    position: relative;
    width: 480px!important;
    height: 480px!important;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.custom-resources-card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.custom-socialpress-card{
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.custom-socialpress-card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.card-custom-overlay{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    position: relative;
}
.card-img-fill{
    min-height: 211px!important;
    width: 100%!important;
    object-fit: cover!important;
}
.card-overlay{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}

.card-overlay-event {
    width: 100%!important;
    height: 150px!important;
    width: 791px;
    background-color: rgb(43 43 43 / 50%);
    float: none;
    margin-top: -150px!important;
    z-index: 2;
}
.card-overlay-press{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}
.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
  }
  .card-overlay-events {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #008CBA;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition: .5s ease;
      opacity: 0.6;
    }
  
  
  .custom-theteam-card:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/*#region media*/
@media only screen and (min-width: 1366px) {
    .cards{
        position: relative;
        margin: 10px;
        width: 321px;
        /*height: 100%!important;*/
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .custom-upcomingevents-card{
        height: 517px!important;
    }
    .custom-projects-card{
        position: relative;
        width: 490px;
        height: 279px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    .events-content{
        padding: 0!important;
    }
    .resources-content{
        padding: 20px 0!important;
    }
    #resroucesCarousel .carousel-inner{
        width: 1000px!important;
    }
    #eventsCarousel .carousel-inner{
        width: 1000px!important;
    }
    #socialpressCarousel .carousel-inner{
        width: 1000px!important;
    }
    .d-lg-block{
        display: block!important;
    }
    .d-lg-none{
        display: none!important;
    } 
    .d-xl-none{
        display: none!important;
    }
    .d-xl-block{
        display: block!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .cards{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px 20px!important;  
        width: 500px;
        height: 490px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .custom-cards{
        display: block;
        position: relative;
        margin: 10px;  
        width: 500px!important;
        height: 410px!important;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .custom-projects-card{
        position: relative;
        width: 470px;
        height: 279px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    .custom-resources-card{
        position: relative;
        width: 480px;
        height: 374px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .events-content{
        padding: 0!important;
    }
    .whoweare-cards-content{
        padding: 0!important;
    }
    .resources-content{
        padding: 20px 0!important;
    }
    #eventsCarousel .carousel-inner{
        width: 520px!important;
    }
    #eventsCarouselMobileAndTablet .carousel-inner{
        width: 520px!important;
    }
    #resroucesCarousel .carousel-inner{
        width: 500px!important;
    }
    #socialpressCarousel .carousel-inner{
        width: 500px!important;
    }
    #socialpressCarouselTabletAndMobile .carousel-inner{
        width: 500px!important;
    }
    #resroucesCarouselTabletAndMobile .carousel-inner{
        width: 500px!important;
    }
    #whoWeAreCardCarousel .carousel-inner{
        width: 540px!important;
    }
    .d-md-none{
        display: none!important;
    }
    .d-md-block{
        display: block!important;
    }

}

@media only screen and (max-width: 767px) {
    .d-sm-none{
        display: none!important;
    }
    .d-sm-block{
        display: block!important;
    }
    .cards{
        /*display: block;*/
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px;  
        width: 100%;
        height: 490px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .card-mobile-margin{
        padding: 20px!important;
    }
    .p-mobile-margin{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .row .cards{
        padding: 0!important;
    }
    .cards .card-body{
        padding: 0!important;
    }
    .whoweare-cards-content .container .row .cards{
        padding: 20px!important;
    }
}

@media only screen and (max-width: 450px) {
    .whoweare-cards-content{
        
    }
}

@media only screen and (min-width: 1366px) {
    
    .p-mobile-margin{
        padding-left: 183px!important;
        padding-right: 183px!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .p-mobile-margin{
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
    .custom-theteam-card{
        position: relative;
        width: 460px;
        height: 460px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 10px 20px!important;
    }
    .custom-socialpress-card{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .custom-socialpress-card{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .d-flex-team {
        display:flex!important;
    }
}
@media only screen and (max-width: 767px) {
    .custom-theteam-card{
        position: relative;
        width: 336px!important;
        height: 336px!important;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    .d-flex-team {
        display:block!important;
    }
    .custom-resources-card{
        position: relative;
        width: 100%;
        height: 405px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-socialpress-card{
        position: relative;
        width: 100%;
        height: 429px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-upcomingevents-card .card-body{
        padding: 20px 20px 0 20px!important;
    }
    .custom-projects-card{
        position: relative;
        border-radius: 10px;
        min-height: 211px!important;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
}

@media only screen and (max-width: 637px) {
    .custom-resources-card{
        position: relative;
        width: 100%;
        height: 405px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-socialpress-card{
        position: relative;
        width: 100%;
        height: 429px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-upcomingevents-card .card-body{
        padding: 20px 20px 0 20px!important;
    }
}
@media only screen and (max-width: 463px) {
    .custom-resources-card{
        position: relative;
        width: 100%;
        height: 405px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-socialpress-card{
        position: relative;
        width: 100%;
        height: 429px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-resources-card > .card-body{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .custom-socialpress-card > .card-body{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .custom-upcomingevents-card .card-body{
        padding: 20px 20px 0 20px!important;
    }
}
@media only screen and (max-width: 375px) {
    .custom-resources-card{
        position: relative;
        width: 100%;
        height: 405px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-socialpress-card{
        position: relative;
        width: 100%;
        height: 480px;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin: 0!important;
    }
    .custom-upcomingevents-card .card-body{
        padding: 20px 20px 0 20px!important;
    }
}

