.form-control {
    border: solid 1px #696969;
    background-color: #ffffff;
    border-radius: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none!important;
    box-shadow: none!important;
    border-color: unset!important;
}

textarea.row-8 {
    height: 80px;
    resize: none!important;
}

.spinner-border {
    height: 160px;
    width: 160px;
    color: #f20f7a!important;
    border-width: 1em;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border: solid 1px #ce5f5f!important;
    background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: unset;
    background-image: none;
}