.navbar-nav li{
    margin: 10px;
}
.navbar-nav > li > a:hover{
    color: var(--hover)!important;
}
.navbar-ink-logo{
    width: 300px;
    margin-left: 20px;
}
.navbar-ink-logo-mobile {
    width: 80px!important;
    margin-left: 20px!important;
}

.navigation-bar{
    height: 73px;
    margin: 0 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #262626;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: unset;
    background-color: #a14cb8!important;
    background-image: none;
    color: white;
}

.nav-tabs {
    border-bottom: none;
}

nav.tab-ctm {
    width: fit-content;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 46px;
    border-radius: 32px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.nav-tabs .nav-link {
    border: none;
    background-image: linear-gradient(to bottom, #e3e3e3, #ffffff);
    border-radius: 0;
}

.nav-tabs .nav-link:first-child {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.nav-tabs .nav-link:last-child {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.navbar-toggler {
    /*padding: 0;*/
    font-size: 1.25rem;
    line-height: unset;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color:#ffffff!important;
    border-color: none;
    border: none;
}

.navbar-toggler i {
    font-size: 14px;
}


.navbar-collapse .navbar-nav li {
    cursor: pointer;
}

.go-to-bottom,
.go-to-top {
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(100% - 40px);
    opacity: 0;
    transition: opacity 0.5s linear;
}

.go-to-top {
    top: 298px!important;
}

.navbar.hide-event .go-to-top {
    top: 175px!important;
}



@media only screen and (min-width: 1366px) {}



@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .navbar-ink-logo{
        /*width: 200px;*/
        margin-left: 20px;
    }
    .nav-container {
        background-color: white!important;
    }
    .navbar-expand-xl .navbar-collapse {
        background-color: #262626!important;
        /*width: 100%!important;*/
        /*top: 72px!important;*/
        /*position: absolute!important;*/
        box-shadow: 0 30px 30px -30px rgb(0 0 0 / 40%)!important;
        height: calc(100vh- 70px)!important;
        /*overflow-y: auto;*/
        /*padding-bottom: 20px!important;*/
    }
    .navbar-collapse .navbar-nav li {
        text-align: center;
        margin-left: 0;
        
    }/*
    .navbar-collapse .navbar-nav li a {
        padding: 20px!important;
    }*/
    
    .navbar-toggler[aria-expanded='true'] i::after {
        content: "\f00d";
    }
    .navbar-toggler[aria-expanded='true'] i::before {
        content: "CLOSE";
        font-family: BebasNeue;
        font-size: 14px!important;
        font-weight: normal;
        font-style: normal;
        line-height: 1.21;
        color: #ffffff;
        margin-right: 10px!important;
    }
    .navbar-toggler[aria-expanded='false'] i::after {
        content: "\f0c9";
    }
    .navbar-toggler[aria-expanded='false'] i::before {
        content: "MENU";
        font-family: BebasNeue;
        font-size: 14px!important;
        font-weight: normal;
        font-style: normal;
        line-height: 1.21;
        color: #ffffff;
        margin-right: 10px!important;
    }
    .navigation-text {
        font-family: BebasNeue;
        font-size: 14px!important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #ffffff; 
    }
    a.nav-link {
        font-family: BebasNeue;
        font-size: 14px!important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #ffffff; 
    }
}

@media only screen and (max-width: 767px) {
    .event-mid-action {
        max-width: 320px;
    }
    .event-mid-action .p-alt {
        margin-top: 20px!important;
    }
    .navbar-expand-xl .navbar-collapse {
        background-color: #262626!important;
        width: 100%!important;
        top: 72px!important;
        position: absolute!important;
        box-shadow: 0 30px 30px -30px rgb(0 0 0 / 40%)!important;
        height: calc(100vh)!important;
        overflow: auto;
    }
    .navbar-collapse .navbar-nav li {
        text-align: center;
        margin-left: 0;
        padding: 10px;
    }
    .navbar-collapse .navbar-nav li a {
        padding: 0;
    }
    .navbar.hide-event .navbar-collapse {
        height: calc(100vh - 73px);
    }
    .go-to-bottom {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded='true'] i::before {
        content: "\f00d";
    }
    .navbar-toggler[aria-expanded='false'] i::before {
        content: "\f0c9";
    }
    a.nav-link {
        font-family: BebasNeue;
        font-size: 25.2px!important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #ffffff; 
    }
}

