.project-card {
    animation-name: project-card-animation;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}

.project-card-overlay {
    bottom: 0;
    transition-duration: 0.2s;
}

.project-card-overlay-open {
    height: inherit;
}

.project-card-overlay-collapsed {
    height: 50px!important;
}

@keyframes project-card-animation {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}