

.circle-contactus-yellow {
    width: 178.5px;
    height: 177.8px;
    margin: -70px 42.7px 8.5px 2px;
    border-radius: 50%;
    background-color: #e8d905;
    position: absolute;
}
.circle-contactus-pink {
    width: 70px;
    height: 70.2px;
    margin-left: -20px!important;
    margin-top: 110px!important;
    border-radius: 50%;
    background-color: #f20f7a;
}
.circle-contactus-green {
    width: 50.5px;
    height: 49.9px;
    margin-left: 170px!important;
    margin-top: -45px!important;
    border-radius: 50%;
    background-color: #bfe10e;
}


.bottom-right-curve-background{
    position: absolute;
    padding-top: 10px;
    bottom: -1.5px;
    width: 75%;
    right: -0.4px;
    z-index: -1;
}
.bottom-right-curve-background-margin{
    /*position: absolute;
    padding-top: 10px;
    bottom: -1.5px;
    width: 75%;
    right: -0.4px;
    z-index: -1;*/
    margin-bottom: -2px;
    margin-right: -0.4px;
    width: 100%;
    z-index: -1;
}
.bottom-right-curve-background-whoweare{
    /*position: absolute;*/
    margin-top: 10px;
    margin-bottom: -2px;
    margin-right: -0px;
    bottom: -1.5px;
    width: 75%;
    right: -0.4px;
    z-index: -1;
}
.bottom-right-curve-background-small{
    position: absolute;
    padding-top: 10px;
    bottom: -1.5px;
    width: 50%;
    right: -0.4px;
    z-index: -1;
}
.bottom-left-curve-background{
    position: absolute;
    margin-top: 10px;
    bottom: -1.5px;
    width: 75%;
    left: -1.5px;
    z-index: -1;
}
.bottom-left-curve-background-margin{
    /*position: absolute;*/
    margin-top: 10px;
    margin-bottom: -2px;
    margin-left: -2px;
    bottom: -1.5px;
    width: 75%;
    left: -1.5px;
    z-index: -1;
}
.bottom-left-curve-background-small{
    position: absolute;
    margin-top: 20px!important;
    bottom: -1.5px;
    width: 40%;
    left: -1.5px;
    z-index: -1;
}
.top-left-curve-background-small{
    position: absolute;
    top: -1.5px;
    width: 50%;
    left: -1.5px;
    z-index: -1;
}
.top-left-curve-background-margin-small{
    /*position: absolute;*/
    margin-top: -5px;
    margin-left: -2px;
    top: -1.5px;
    width: 50%;
    left: -1.5px;
    z-index: -1;
}
.top-left-curve-background-margin-small-mobile{
    /*position: absolute;*/
    margin-top: -2px;
    margin-left: -2px;
    top: -1.5px;
    width: 75%;
    left: -1.5px;
    z-index: -1;
}
.top-left-curve-background{
    position: absolute;
    top: -1.5px;
    width: 75%;
    left: -1.5px;
    z-index: -1;
}
.top-right-curve-background-small{
    position: absolute;
    top: -1.5px;
    width: 50%;
    right: -0.4px;
    z-index: -1;
}
.top-right-curve-background{
    position: absolute;
    top: 100px;
    width: 50%;
    right: -0.4px;
}
.dot{
    background-color: var(--carouselDot);
    height: 15px;
    width: 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}
/* MediaShape
@media only screen and (max-width: 575px) {
    .circle-172{
        width: 172px;
        height: 172px;
        margin-bottom: 0;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-68-green{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -65px 118px 44px 49px;
    }
    .circle-48-pink{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -90px 0px 0px 242px;
    }
    .circle-48-pink-1{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -54px 118px 7px 43px;
    }
    .circle-66-yellow{
        width: 66px;
        height: 66px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -90px 0px 5px 46px;
    }
    .circle-68-yellow{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -76px 0px 10px 196px
    }
    .circle-47-green{
        width: 47px;
        height: 47px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -163px 0px 44px 200px;
    }
    .circle-39-green{
        width: 39px;
        height: 39px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: 66px 0px 32px 197px;
    }
}*/
@media all and (max-width: 767px) {
    .circle-172{
        width: 122px;
        height: 122px;
        margin-bottom: 0;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-68-green{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -49px 0px 76px 19px;
    }
    .circle-48-pink{
        width: 34px;
        height: 34px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -108px 0px 0px 145px;
    }
    .circle-48-pink-1{
        width: 33px;
        height: 33px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -37px 118px 8px 26px;
    }
    .circle-66-yellow{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -69px 0px 5px 37px;
    }
    .circle-68-yellow{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -53px 0px 5px 129px;
    }
    .circle-47-green{
        width: 33px;
        height: 33px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -121px 0px 44px 130px;
    }
    .circle-39-green{
        width: 28px;
        height: 28px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: 8px 0px 32px 132px;
    }
    .circle{
        width: 122px;
        height: 122px;
        margin-bottom: 20px;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-contactus-yellow {
        width: 57.8px;
        height: 57.8px;
        margin: 0px 42.7px 8.5px 0px;
        border-radius: 50%;
        background-color: #e8d905;
        position: absolute;
    }
    .circle-contactus-pink {
        width: 22.8px;
        height: 22.8px;
        margin-left: -10px!important;
        margin-top: 35px!important;
        border-radius: 50%;
        background-color: #f20f7a;
    }
    .circle-contactus-green {
        width: 16.4px;
        height: 16.4px;
        margin-left: 50px!important;
        margin-top: -15px!important;
        border-radius: 50%;
        background-color: #bfe10e;
    }

}
@media all and (min-width: 768px) and (max-width: 1365px) {
    .circle-172{
        width: 172px;
        height: 172px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-68-green{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -108px 118px 44px 100px;
    }
    .circle-48-pink{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -90px 0px 44px 292px;
    }
    .circle-48-pink-1{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -85px 118px 44px 105px;
    }
    .circle-66-yellow{
        width: 66px;
        height: 66px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -71px 0px 44px 105px;
    }
    .circle-68-yellow{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -115px 0px 44px 255px;
    }
    .circle-47-green{
        width: 47px;
        height: 47px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -201px 0px 44px 255px;
    }
    .circle-39-green{
        width: 39px;
        height: 39px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: 21px 0px 11px 255px;
    }
    .circle{
        width: 172px;
        height: 172px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-contactus-yellow {
        width: 178.5px;
        height: 177.8px;
        margin: -50px 42.7px 8.5px 12px;
        border-radius: 50%;
        background-color: #e8d905;
        position: absolute;
    }
    .circle-contactus-pink {
        width: 70px;
        height: 70.2px;
        margin-left: -20px!important;
        margin-top: 110px!important;
        border-radius: 50%;
        background-color: #f20f7a;
    }
    .circle-contactus-green {
        width: 50.5px;
        height: 49.9px;
        margin-left: 170px!important;
        margin-top: -45px!important;
        border-radius: 50%;
        background-color: #bfe10e;
    }
}
@media all and (min-width: 1366px) {
    .circle-172{
        width: 172px;
        height: 172px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
    }
    .circle-68-green{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -108px 118px 44px 10px;
    }
    .circle-48-pink{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -90px 0px 44px 207px;
    }
    .circle-48-pink-1{
        width: 48px;
        height: 48px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -85px 118px 44px 20px;
    }
    .circle-66-yellow{
        width: 66px;
        height: 66px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -106px 0px 44px 12px;
    }
    .circle-68-yellow{
        width: 67px;
        height: 68px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -115px 0px 44px 160px;
    }
    .circle-47-green{
        width: 47px;
        height: 47px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: -215px 0px 44px 160px;
    }
    .circle-39-green{
        width: 39px;
        height: 39px;
        margin-bottom: 40px;
        border-radius: 50%;
        z-index: 1;
        margin: 40px 0px 44px 160px;
    }
    .bottom-left-curve-background-margin{
        /*position: absolute;*/
        margin-top: 10px;
        margin-bottom: -2px;
        bottom: -1.5px;
        width: 75%;
        left: -1.5px;
        z-index: -1;
    }
    .circle-contactus-yellow {
        width: 178.5px;
        height: 177.8px;
        margin: -70px 42.7px 8.5px 2px;
        border-radius: 50%;
        background-color: #e8d905;
        position: absolute;
    }
    .circle-contactus-pink {
        width: 70px;
        height: 70.2px;
        margin-left: -20px!important;
        margin-top: 110px!important;
        border-radius: 50%;
        background-color: #f20f7a;
    }
    .circle-contactus-green {
        width: 50.5px;
        height: 49.9px;
        margin-left: 170px!important;
        margin-top: -45px!important;
        border-radius: 50%;
        background-color: #bfe10e;
    }
}