

h1{
    font-family: BebasNeue;
    font-size: 25.2px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: var(--black);
}
h2{
    font-family: BebasNeue;
    font-size: 22.4px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
}
h3{
    font-family: BebasNeue;
    font-size: 19.9px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
}
h4{
    font-family: BebasNeue;
    font-size: 17.7px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: var(--black);
}
h5{
    font-family: BebasNeue;
    font-size: 15.8px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black);
}
p{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black);
}
.p-small-black{  
    font-family: Inter;
    font-size: 12px!important;
    font-weight: normal!important;  
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--blackV3)!important;
} 
.p-bold{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: bold!important;  
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black);
}  
.p-bold-white{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: bold!important;  
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
}  
.p-bold-black{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: bold!important;  
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--blackV3)!important;
}  
.p-small-bold-black{  
    font-family: Inter;
    font-size: 12px!important;
    font-weight: bold!important;  
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--blackV3)!important;
}  
.p2{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--white)!important;
}
.p2-large{  
    font-family: Inter;
    font-size: 16px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--white)!important;
}
.p2-large-black{  
    font-family: Inter;
    font-size: 16px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--blackV3)!important;
}
.p2-small{  
    font-family: Inter;
    font-size: 11px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--white)!important;
}
.p2-small-bold{  
    font-family: Inter;
    font-size: 12px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--blackV3)!important;
}
.p2-small-yellow{  
    font-family: Inter;
    font-size: 11px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--yellow)!important;
}
.p2-black{  
    font-family: Inter;
    font-size: 14px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black)!important;
}
.p3{  
    font-family: BebasNeue;
    font-size: 19.9px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--white)!important;
}
.p3-small{  
    font-family: BebasNeue;
    font-size: 14px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--white)!important;
}
a{
    font-family: BebasNeue;
    font-size: 14px!important;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    color: var(--white);
}
a > span {
    font-family: Inter!important;
    font-size: 14px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff!important;
}
.a-1{
    font-family: BebasNeue;
    font-size: 14px!important;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    color: var(--white);
}
.a-2{  
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
}
.a-3{  
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
}
label{
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
}
.h2 {
    font-family: Inter;
    font-size: 22.4px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
}
